.encabezado{
    background-color: rgb(193, 255, 148, 100);
    font-size: 1.5rem;
    margin-left: 11px;
    margin-right: 11px;
    .dropdown-menu{
        background-color: rgb(224, 185, 191) ;
    }
}